@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #1666AF;

}

em {
    font-weight: bold;
}



/* logo and headings */

h1,
h2 {
    font-family: Oswalt, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    vertical-align: middle;
    color: #1666AF;
}

#logo {
    margin: auto;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 280%;
}

header {
    display: flex;
    justify-content: space-between;
    height: 68px;
    margin: 10px 0px 10px 15px;


}

header a {
    text-decoration: none;
}

/* navigation links */

#menu {
    display: flex;
    justify-content: right;
    align-items: center;
    flex-direction: row-reverse;
    margin-top: 23px;
    font-size: 110%;
    letter-spacing: 4px;
    font-weight: bold;
}

#menu li {

    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 30px;

    list-style-type: none;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #1666AF;
}

.active {
    border-bottom: 1px solid #1666AF;
}


/* hero image and cover text*/

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#hero-image {
    height: 600px;
    width: 100%;
    background-image: url(../images/activities03.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    /* animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 10s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image */
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
    }
}

#cover-text {
    font-size: 200%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    text-shadow: 2px 2px white;

    width: 700px;
    height: 200px;

    background-color: none;

    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#cover-text h2 {
    margin-bottom: 5px;
}

#cover-text h3 {
    margin-top: 0;
}

/* 3 activities section*/
#activities,
#team,
#philosophy,
#form-section {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
}

.activity-box {
    height: 750px;
    width: 32%;
    margin-top: 30px;
    overflow: hidden;

}

.activity-picture,
.team-picture {
    height: 400px;
    border-radius: 10%;
}

#snorkeling-activity {
    background-image: url(../images/Snorkeling.jpg);
    background-position: center;
}

#deep-activity {
    background-image: url(../images/wreck-divers.jpg);
    background-position: center;
}

#free-activity {
    background-image: url(../images/plongeur\ hero.jpg);
    background-position: center;
}

.activity-box h3 {
    font-size: 200%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    margin-bottom: 15px;
}

.activity-box h4 {
    font-size: 130%;
    text-align: center;
    font-weight: bold;
    margin-top: 15px;
}

.activity-box p,
.team-box p,
.philosophy-box p {
    font-size: 130%;
    text-align: left;
    line-height: 30px;
    margin: 15px 10px 0px 10px;
}

/* footer and social network links*/

footer {
    height: 150px;
}

#footer-links {
    text-align: center;
}

#footer-links li {
    display: inline;
}

#footer-links i {
    font-size: 170%;
    margin: 30px;
    padding: 30px;
    color: #0f63ad;
}


/*Meet the team*/
.team-box {
    height: 650px;
    width: 32%;
    margin-top: 30px;
    overflow: hidden;
}

#kevin-portrait {
    background-image: url(../images/snorkeler-portrait.jpg);
    background-position: center;
}

#john-portrait {
    background-image: url(../images/scuba-portrait2.jpg);
    background-position: center;
}

#jessica-portrait {
    background-image: url(../images/female-diver.jpg);
    background-position: center;
}

.team-box h3,
.philosophy-box h3 {
    font-size: 150%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    margin-bottom: 15px;
}

.section-title {
    font-size: 150%;
    text-align: center;
    width: 30%;
    border: 2px solid #1666AF;
    margin: 50px auto;

}

/*ethos*/
#philosophy {
    margin-bottom: 100px;
}

.philosophy-box {
    height: 350px;
    width: 20%;
    margin-top: 30px;
    border: 2px solid #1666AF;
    padding: 15px;

}

/*location*/
#location {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

iframe {
    height: 100%;
    width: 90%;
}

/* sign up*/

.form-box {
    height: 600px;
  
}

.signup-form {
    margin: 150px 10% 0 0;
    color: #0f63ad;
    border: 2px solid #0f63ad;
    max-width: 400px;
    padding: 30px;
    border-radius: 2px;
}

.signup-form h2 {
    color: #0f63ad;
    margin-bottom: 20px;
}

.text-input {
 
    color: ##0f63ad;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px;
    border: 1px solid #0f63ad;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #1666AF;
    border:2px;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #f16c6b;
    color: #fafafa;
    display: block;
}

.join-button:hover {
    background-color: #0f63ad
    color: white;
}